beautifulsoup4==4.12.3
langchain==0.2.6
langchain_chroma==0.1.2
langchain_community==0.2.6
langchain_core==0.2.11
langchain_mongodb==0.1.6
langchain_openai==0.1.14
langchain_text_splitters==0.2.2
requests==2.32.3
requests-oauthlib==2.0.0